#cart {
 position: relative;
 width: 40px;
 transition: margin 0.1s;
}
#cart .cart-total {
 position: absolute;
 right: 0;
 top: -5px;
 background-color: var(--clr-5);
 width: 25px;
 height: 25px;
 border-radius: 50%;
}
#cart:hover {
 margin-bottom: 10px;
}
