.products-search {
 grid-area: search;
 max-width: 450px;
 width: 100%;
 justify-self: end;
}

.products-search input {
 width: 100%;
 padding: var(--space-s);
 background-color: var(--clr-1);
 color: var(--clr-2);
 border: 1px solid var(--clr-2);
}
.products-search input::placeholder {
 color: var(--clr-2);
 font-style: italic;
}
