.shopping-cart-page {
 margin: 2rem 0;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 text-align: left;
}
.shopping-cart-items li {
 display: grid;
 grid-gap: 1rem;
 align-items: center;
 grid-template-columns: 70px 0.2fr max-content max-content;
}
.shopping-cart-items li figure {
 margin: 0;
 max-width: 100px;
 max-height: 100px;
}
.cart-is-empty-msg {
 min-height: 50vh;
 font-size: 2rem;
}
.cart-is-empty-msg a {
 text-decoration: underline;
}
.link-curtain-effect {
 position: relative;
}
.link-curtain-effect:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: var(--zIndex--1);
}
.link-curtain-effect:hover::before {
 clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
 background-color: var(--clr-6);
 animation: curtainEffect 3s ease-out;
}

@keyframes curtainEffect {
 100% {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
 }
}
