.site-footer {
 min-height: 120px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 2rem 0;
}

.site-footer ul {
 list-style: none;
 display: flex;
 gap: var(--space-s);
 padding: 0;
 margin: 0;
}
.site-footer .copyright {
 padding: 1rem 0;
}
