.product-listing {
 grid-area: productListing;
 display: grid;
 grid-gap: calc(1.5 * var(--space-s));
 grid-template-columns: repeat(auto-fill, minmax(250px, 310px));
 grid-template-rows: 400px;
 justify-content: center;
}
.product-page {
 padding-block: calc(3.5 * var(--space-s));
 display: grid;
 grid-gap: calc(1.5 * var(--space-s));
 grid-template-areas: "search filters" "productListing productListing";
 grid-template-columns: 1fr max-content;
}

@media (min-width: 768px) {
 .product-page {
  padding-block: calc(5 * var(--space-s));
  grid-gap: calc(3 * var(--space-s));
  grid-template-columns: max-content 1fr;
  grid-template-areas: ". search" "filters productListing";
 }
 .product-listing {
  justify-content: end;
 }
}
.not-found-msg {
 align-self: center;
 justify-self: center;
 grid-column: 1/-1;
}
.loading,
.error-msg {
 grid-column: 1/-1;
 min-height: 50vh;
 font-size: 2rem;
 font-weight: 600;
}
