.App {
 max-width: var(--maxWidth);
 margin: 0 auto;
 padding-inline: var(--space-s);
 text-align: center;
}

.product-listing {
 grid-area: productListing;
 display: grid;
 grid-gap: calc(2 * var(--space-s));
 grid-template-columns: 1fr 1fr 1fr;
}
.product-page {
 padding-block: calc(3.5 * var(--space-s));
 display: grid;
 grid-gap: calc(3.5 * var(--space-s));
 grid-template-areas: ". search search" " filters productListing productListing";
}
