.skip-links {
 font-size: var(--fs-200);
 position: absolute;
 padding: 0.5rem;
 max-width: 11rem;
 left: 50%;
 top: 0;
 transform: translateY(-100%);
}
.skip-links:focus {
 transform: translateY(0%);
}
