:root {
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 line-height: 1.5;
 font-weight: 400;

 color-scheme: dark light;
 /* Dark */
 --clr-1: #042940;
 --clr-2: #ffffff;
 --clr-3: #404040;
 --clr-4: #042940;
 --clr-5: #dbf227;
 --clr-6: #005c53;
 --accent-1: #ffcccc;
 --mono-1: #dddddd;
 --space-s: 1rem;
 --maxWidth: 1280px;

 font-synthesis: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-text-size-adjust: 100%;

 --fs-100: 1rem;
 --fs-200: 1.2rem;

 --zIndex--1: -1;
 --zIndex-0: 0;
 --zIndex-10: 10;
}

a {
 font-weight: 500;
 color: var(--clr-2);
 text-decoration: inherit;
}

body {
 margin: 0;
 min-width: 320px;
 min-height: 100vh;
 background-color: var(--clr-1);
 color: var(--clr-2);
}
main {
 min-height: 68vh;
}

@media (prefers-color-scheme: light) {
 :root {
  --clr-1: #fff;
  --clr-2: #042940;
  --clr-3: #dddddd;
  --clr-4: #9fc131;
  --clr-5: #dbf227;
  --clr-6: #d6d58e;
  --accent-1: #7f0000;
 }
}
#root {
 overflow: hidden;
 min-height: 100vh;
}
.wrapper {
 max-width: var(--maxWidth);
 margin: 0 auto;
 padding-inline: var(--space-s);
 text-align: center;
}
@media (min-width: 1280px) {
 .wrapper {
  padding-inline: 0;
 }
}
