.clr-nvy {
 color: #042940;
}
.flex-center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.flex-direction-column {
 flex-direction: column;
}
.flex-direction-row {
 flex-direction: row;
}

.full-width-bg {
 position: relative;
}

.full-width-bg::before {
 content: "";
 background-color: var(--clr-6);
 opacity: 0.3;
 position: absolute;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100%;
 z-index: -1;
 margin-left: calc(-1 * var(--space-s));
}

/* Here 1280px is max-width of the container */
@media (min-width: 1280px) {
 .full-width-bg::before {
  margin-left: calc((((100vw - var(--maxWidth)) / 2) * -1));
 }
}
.button {
 border-radius: 8px;
 border: 1px solid transparent;
 padding: 0.6em 1.2em;
 font-size: var(--fs-100);
 font-weight: 500;
 font-family: inherit;
 color: var(--clr-1);
 background-color: var(--clr-2);
 cursor: pointer;
 transition: border-color 0.25s;
}
.button:hover {
 border-color: #646cff;
}
.button:focus,
.button:focus-visible {
 outline: 4px auto -webkit-focus-ring-color;
}
.button:disabled {
 background-color: var(--mono-1);
 color: var(--clr-2);
}
.button--small {
 padding: 0.3em 0.6em;
}
.button--danger {
 background-color: var(--accent-1);
}
